.clientDetails {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .container {
      display: flex;
      // justify-content: space-between;

      .inputField {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #00bfa6;
        }

        &::placeholder {
          color: #aaa;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .inputField2 {
      height: 40px;
      padding: 0 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #00bfa6;
      }

      &::placeholder {
        color: #aaa;
      }
    }
  }
}
